/* filename: root/main.css */

@import url(fonts/clear-sans.css);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

p { text-align: center; }
a { color: inherit; }
hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.generic-box {
  margin: auto;
  margin-top: 50px;
  width: 600px;
  text-align: center;
  position: relative;
}

#team-box { display: none; }

.button {
  color: #f9f6f2;
  font-size: 36px;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  background-color: #9c9086;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #8f7a66;
}

.button.small {
  font-size: 18px;
}

#back-button-wrapper {
  position: absolute;
  top: 0%;
  float: left;
}
#back-button {
  position: fixed;
  display: none;
}
.round-box-wrapper { margin: 10px; }
.sec-box-wrapper { margin: 10px; }
.half-box.stop-button-wrapper { width: 35%; }
.half-box.pause-button-wrapper { width: 35%; }
.redo-button-wrapper { display: none; }

.q-number { font-size: 32px; font-weight: bold; }

.button.ghost {
  background-color: transparent;
  cursor: initial;
  color: #776e65;
  display: none;
}

.start-box {
  height: 120px;
}

.half-box {
  display: inline-block;
  width: 40%;
  margin: 15px 0px 15px 0px;
  border: 1px solid black;
}

.count-box {
  height: 210px;
  width: 210px;
  border: 1px solid #c2b4a7;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.generic-number {
  font-size: 120px; /* ONE TWENNY */
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1em;
  margin: auto;
  margin-top: -0.7em;
}

/**************************************************************\
MOBILE-SPECIFIC CSS

summary of changes:
 - back button is no longer fixed (since it gets in the way) and is absolutely positioned at the top left corner
 - generic-box is now just 85% width
 - count-box is now 110px square
 - generic-number is now 80px
 - stop and pause button wrappers are now 40%, 50% width
 - min and sec box wrappers now have 5px margin

****************************************************************/
@media only screen and (max-width: 601px) {
  #back-button-wrapper {
    position: absolute;
    top: 0%;
    float: left;
  }
  #back-button {
    display: none;
  }

  .round-box-wrapper {
    position: relative;
    float: left;
    margin-left: -20%;
  }
  .sec-box-wrapper {
    position: relative;
    float: right;
    margin-right: -20%;
  }

  /* float the buttons to the opposite sides within the wrappers */

  .half-box.stop-button-wrapper {
    float: left;
    text-align: left;
    border: 1px solid black;
  }
  .half-box.pause-button-wrapper {
    float: right;
    text-align: right;
    border: 1px solid black;
  }

  .generic-box {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    text-align: center;
  }

  .count-box {
    height: 110px;
    width: 110px;
    border: 1px solid #c2b4a7;
    border-radius: 10px;
    margin: auto;
    position: relative;
  }

  .generic-number {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1em;
    margin: auto;
    margin-top: -0.7em;
  }
}