/* filename: stylesheet.css */

@import url(fonts/clear-sans.css);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

p {
  text-align: center;
}

.genericbox {
  margin: auto;
  margin-top: 50px;
  width: 800px;
  text-align: center;
}

#teambox { display:none; }

.button {
  color: #f9f6f2;
  font-size: 36px;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  background-color: #9c9086;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #8f7a66;
}

/*.button.big {
  font-size: 48px;
  margin: 10px;
  padding: 25px 40px 25px 40px;
}*/

.button.small {
  font-size: 18px;
}

#backbuttonwrapper {
  float: left;
}
#backbutton {
  position: fixed;
  width: 180px;
  margin-top: -150px;
  display: none;
}

.qnumber { font-size: 32px; font-weight: bold; }
/*#teamcurrentnum { 
  /*margin-top: 58px;
  display: none;
}*/

#ghostbutton {
  /* all the formatting of a button except not a button! */
  background-color: transparent;
  cursor: initial;
  color: #776e65;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  display: none;
}

.startbox {
  height: 120px;
}

.halfbox {
  display: inline-block;
  width: 40%;
  margin: 15px 0px 15px 0px;
  /*border: 1px solid black;*/
}

.countbox {
  height: 100px;
  width: 100px;
  border: 1px solid #c2b4a7;
  border-radius: 10px;
  /*background-color: #f2c01b;*/
  margin: auto;
  position: relative;
}

.genericnumber {
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1em;
  margin: auto;
  margin-top: -0.65em;
}

#redobutton {
  display: none;
}